.documentation {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 360px;
    height: 100%;
    background-color: rgb(235, 214, 94);
    position: absolute;
    left: 0;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 10px;
}

.menu-item a {
    text-decoration: none;
    color: #000;
}

.has-children > .sub-menu {
    display: none;
}

.has-children.open > .sub-menu {
    display: block;
}


.main {
    height: 100vh; /* Set the height to 100vh to match sidebar */
}

.doc-body {
    width: calc(100% - 360px);
    position: absolute;
    right: 0;
}